@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900;
  font-family: var(--font-sans);
}

.gantt-scroll::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.gantt-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.gantt-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.gantt-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
